body {
  background-color: #078898;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

#drum-machine {
  border: 4px solid #E37222;
  background-color: hsl(0, 0%, 95%);
  width: 95%;
  max-width: 50rem;
  margin: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 1.25rem;
  touch-action: manipulation;
}

#drums {
  max-width: 21.875rem;
  width: 100%;
  max-height: 31.25rem;
  display: block;
  margin: auto;
}

.pad-container {
  width: 33%;
  display: inline-block;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.drum-pad {
  width: 6.25rem;
  height: 6.25rem;
  margin-left: 0.3125rem;
  padding-top: 2.1rem;
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.7);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.7);
}

#controls {
  display: block;
  width: 100%;
  max-width: 23.75rem;
  margin: auto;
  margin-top: 1.25rem;
}

#selector {
  width: 100%;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

#drum-selector {
  display: block;
  margin: auto;
}

#display {
  border: 2px solid #E37222;
  background-color: #078898;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  width: 90%;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  margin: auto;
  padding: 1.25rem;
}

#volume-control {
  color: #E37222;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.fas {
  width: 7%;
}

.fa-volume-down, .fa-volume-mute {
  cursor: pointer;
  text-align: right;
  padding-right: 0.4375rem;
}

.fa-volume-up {
  cursor: pointer;
  padding-left: 0.4375rem;
}

.slidecontainer {
  width: 95%;
  margin: auto;
}

.slider {
  -webkit-appearance: none;
  width: 86%;
  height: 0.9375rem;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  cursor: pointer;
  background: #E37222;
}

.slider::-moz-range-thumb {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background: #2b2e32;
  cursor: pointer;
}

#power {
  width: 100%;
  margin-bottom: 0.625rem;
}

#power-btns {
  display: block;
  width: 6.5625rem;
  margin: auto;
}

label {
  width: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.Q-pulse, .W-pulse, .E-pulse, .A-pulse, .S-pulse, .D-pulse, .Z-pulse, .X-pulse, .C-pulse {
  animation-name: pulse;
  animation-duration: 0.5s;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.btn-custom {
  border-radius: 0rem;
  background-color: #E37222;
  color: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.btn-custom:hover {
  background-color: #EEAA7B;
}

.btn-toggle {
  border-radius: 0rem;
  background-color: #EEAA7B;
  color: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.btn-toggle.active {
  background-color: #E37222;
}

@media (min-width: 768px) {
  #drum-machine {
    margin-top: 6.25rem;
  }

  #drums {
    display: inline-block;
    width: 45%;
    margin-left: 0.625rem;
  }

  #controls {
    display: inline-block;
    vertical-align: 1.25rem;
    width: 45%;
    margin-left: 3.125rem;
    margin-top: 0rem;
  }

  #display {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .drum-pad {
    width: 5.625rem;
    height: 5.625rem;
    line-height: 1;
  }
}

@media (max-width: 370px) {
  .drum-pad {
    width: 4.6875rem;
    height: 4.6875rem;
    line-height: 0.5;
  }
}